.valid-password-check {
  color: #aeffb6;
}

.invalid-password-check {
  color: #b60909ea;
}

body {
  background-color: #dbca9a;
  color: antiquewhite;

}

.main {
  align-items: center;
  background-color: #a7623c;
  border: solid 2px rgb(240, 10, 10);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.main-container {
  align-items: center;
  border: solid black 1px;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.button-senha {
  background-color: #34544f;
  border-radius: 10px;
  color: white;
  font-size: large;
  max-width: 70%;
  padding: 20px;
}

.text-password {
  border-top: black solid 2px;
  margin-top: 30px;
  padding-top: 20px;
  text-align: center;
  width: 100%;
}
